include .gitignore
include .gitmodules
include CMakeLists.txt
include LICENSE
include README.md
include docs/api_reference.md
include docs/index.md
include docs/installation.md
include examples/basic_usage.py
include examples/integration_demo.py
include external/pybind11/.appveyor.yml
include external/pybind11/.clang-format
include external/pybind11/.clang-tidy
include external/pybind11/.cmake-format.yaml
include external/pybind11/.codespell-ignore-lines
include external/pybind11/.gitattributes
include external/pybind11/.github/CODEOWNERS
include external/pybind11/.github/CONTRIBUTING.md
include external/pybind11/.github/ISSUE_TEMPLATE/bug-report.yml
include external/pybind11/.github/ISSUE_TEMPLATE/config.yml
include external/pybind11/.github/dependabot.yml
include external/pybind11/.github/labeler.yml
include external/pybind11/.github/labeler_merged.yml
include external/pybind11/.github/matchers/pylint.json
include external/pybind11/.github/pull_request_template.md
include external/pybind11/.github/workflows/ci.yml
include external/pybind11/.github/workflows/configure.yml
include external/pybind11/.github/workflows/docs-link.yml
include external/pybind11/.github/workflows/format.yml
include external/pybind11/.github/workflows/labeler.yml
include external/pybind11/.github/workflows/nightlies.yml
include external/pybind11/.github/workflows/pip.yml
include external/pybind11/.github/workflows/reusable-standard.yml
include external/pybind11/.github/workflows/tests-cibw.yml
include external/pybind11/.github/workflows/upstream.yml
include external/pybind11/.gitignore
include external/pybind11/.pre-commit-config.yaml
include external/pybind11/.readthedocs.yml
include external/pybind11/CMakeLists.txt
include external/pybind11/CMakePresets.json
include external/pybind11/LICENSE
include external/pybind11/README.rst
include external/pybind11/SECURITY.md
include external/pybind11/docs/Doxyfile
include external/pybind11/docs/Makefile
include external/pybind11/docs/_static/css/custom.css
include external/pybind11/docs/advanced/cast/chrono.rst
include external/pybind11/docs/advanced/cast/custom.rst
include external/pybind11/docs/advanced/cast/eigen.rst
include external/pybind11/docs/advanced/cast/functional.rst
include external/pybind11/docs/advanced/cast/index.rst
include external/pybind11/docs/advanced/cast/overview.rst
include external/pybind11/docs/advanced/cast/stl.rst
include external/pybind11/docs/advanced/cast/strings.rst
include external/pybind11/docs/advanced/classes.rst
include external/pybind11/docs/advanced/deadlock.md
include external/pybind11/docs/advanced/deprecated.rst
include external/pybind11/docs/advanced/embedding.rst
include external/pybind11/docs/advanced/exceptions.rst
include external/pybind11/docs/advanced/functions.rst
include external/pybind11/docs/advanced/misc.rst
include external/pybind11/docs/advanced/pycpp/index.rst
include external/pybind11/docs/advanced/pycpp/numpy.rst
include external/pybind11/docs/advanced/pycpp/object.rst
include external/pybind11/docs/advanced/pycpp/utilities.rst
include external/pybind11/docs/advanced/smart_ptrs.rst
include external/pybind11/docs/basics.rst
include external/pybind11/docs/benchmark.py
include external/pybind11/docs/benchmark.rst
include external/pybind11/docs/changelog.md
include external/pybind11/docs/classes.rst
include external/pybind11/docs/cmake/index.rst
include external/pybind11/docs/compiling.rst
include external/pybind11/docs/conf.py
include external/pybind11/docs/faq.rst
include external/pybind11/docs/index.rst
include external/pybind11/docs/installing.rst
include external/pybind11/docs/limitations.rst
include external/pybind11/docs/pybind11-logo.png
include external/pybind11/docs/pybind11_vs_boost_python1.png
include external/pybind11/docs/pybind11_vs_boost_python1.svg
include external/pybind11/docs/pybind11_vs_boost_python2.png
include external/pybind11/docs/pybind11_vs_boost_python2.svg
include external/pybind11/docs/reference.rst
include external/pybind11/docs/release.rst
include external/pybind11/docs/requirements.in
include external/pybind11/docs/requirements.txt
include external/pybind11/docs/upgrade.rst
include external/pybind11/include/pybind11/attr.h
include external/pybind11/include/pybind11/buffer_info.h
include external/pybind11/include/pybind11/cast.h
include external/pybind11/include/pybind11/chrono.h
include external/pybind11/include/pybind11/common.h
include external/pybind11/include/pybind11/complex.h
include external/pybind11/include/pybind11/conduit/README.txt
include external/pybind11/include/pybind11/conduit/pybind11_conduit_v1.h
include external/pybind11/include/pybind11/conduit/pybind11_platform_abi_id.h
include external/pybind11/include/pybind11/conduit/wrap_include_python_h.h
include external/pybind11/include/pybind11/critical_section.h
include external/pybind11/include/pybind11/detail/class.h
include external/pybind11/include/pybind11/detail/common.h
include external/pybind11/include/pybind11/detail/cpp_conduit.h
include external/pybind11/include/pybind11/detail/descr.h
include external/pybind11/include/pybind11/detail/dynamic_raw_ptr_cast_if_possible.h
include external/pybind11/include/pybind11/detail/exception_translation.h
include external/pybind11/include/pybind11/detail/function_record_pyobject.h
include external/pybind11/include/pybind11/detail/init.h
include external/pybind11/include/pybind11/detail/internals.h
include external/pybind11/include/pybind11/detail/native_enum_data.h
include external/pybind11/include/pybind11/detail/pybind11_namespace_macros.h
include external/pybind11/include/pybind11/detail/struct_smart_holder.h
include external/pybind11/include/pybind11/detail/type_caster_base.h
include external/pybind11/include/pybind11/detail/typeid.h
include external/pybind11/include/pybind11/detail/using_smart_holder.h
include external/pybind11/include/pybind11/detail/value_and_holder.h
include external/pybind11/include/pybind11/eigen.h
include external/pybind11/include/pybind11/eigen/common.h
include external/pybind11/include/pybind11/eigen/matrix.h
include external/pybind11/include/pybind11/eigen/tensor.h
include external/pybind11/include/pybind11/embed.h
include external/pybind11/include/pybind11/eval.h
include external/pybind11/include/pybind11/functional.h
include external/pybind11/include/pybind11/gil.h
include external/pybind11/include/pybind11/gil_safe_call_once.h
include external/pybind11/include/pybind11/gil_simple.h
include external/pybind11/include/pybind11/iostream.h
include external/pybind11/include/pybind11/native_enum.h
include external/pybind11/include/pybind11/numpy.h
include external/pybind11/include/pybind11/operators.h
include external/pybind11/include/pybind11/options.h
include external/pybind11/include/pybind11/pybind11.h
include external/pybind11/include/pybind11/pytypes.h
include external/pybind11/include/pybind11/stl.h
include external/pybind11/include/pybind11/stl/filesystem.h
include external/pybind11/include/pybind11/stl_bind.h
include external/pybind11/include/pybind11/subinterpreter.h
include external/pybind11/include/pybind11/trampoline_self_life_support.h
include external/pybind11/include/pybind11/type_caster_pyobject_ptr.h
include external/pybind11/include/pybind11/typing.h
include external/pybind11/include/pybind11/warnings.h
include external/pybind11/noxfile.py
include external/pybind11/pybind11/__init__.py
include external/pybind11/pybind11/__main__.py
include external/pybind11/pybind11/_version.py
include external/pybind11/pybind11/commands.py
include external/pybind11/pybind11/py.typed
include external/pybind11/pybind11/setup_helpers.py
include external/pybind11/pyproject.toml
include external/pybind11/tests/CMakeLists.txt
include external/pybind11/tests/conftest.py
include external/pybind11/tests/constructor_stats.h
include external/pybind11/tests/cross_module_gil_utils.cpp
include external/pybind11/tests/cross_module_interleaved_error_already_set.cpp
include external/pybind11/tests/custom_exceptions.py
include external/pybind11/tests/eigen_tensor_avoid_stl_array.cpp
include external/pybind11/tests/env.py
include external/pybind11/tests/exo_planet_c_api.cpp
include external/pybind11/tests/exo_planet_pybind11.cpp
include external/pybind11/tests/extra_python_package/pytest.ini
include external/pybind11/tests/extra_python_package/test_files.py
include external/pybind11/tests/extra_setuptools/pytest.ini
include external/pybind11/tests/extra_setuptools/test_setuphelper.py
include external/pybind11/tests/home_planet_very_lonely_traveler.cpp
include external/pybind11/tests/local_bindings.h
include external/pybind11/tests/mod_per_interpreter_gil.cpp
include external/pybind11/tests/mod_shared_interpreter_gil.cpp
include external/pybind11/tests/object.h
include external/pybind11/tests/pure_cpp/CMakeLists.txt
include external/pybind11/tests/pure_cpp/smart_holder_poc.h
include external/pybind11/tests/pure_cpp/smart_holder_poc_test.cpp
include external/pybind11/tests/pybind11_cross_module_tests.cpp
include external/pybind11/tests/pybind11_tests.cpp
include external/pybind11/tests/pybind11_tests.h
include external/pybind11/tests/pyproject.toml
include external/pybind11/tests/pytest.ini
include external/pybind11/tests/requirements.txt
include external/pybind11/tests/test_async.cpp
include external/pybind11/tests/test_async.py
include external/pybind11/tests/test_buffers.cpp
include external/pybind11/tests/test_buffers.py
include external/pybind11/tests/test_builtin_casters.cpp
include external/pybind11/tests/test_builtin_casters.py
include external/pybind11/tests/test_call_policies.cpp
include external/pybind11/tests/test_call_policies.py
include external/pybind11/tests/test_callbacks.cpp
include external/pybind11/tests/test_callbacks.py
include external/pybind11/tests/test_chrono.cpp
include external/pybind11/tests/test_chrono.py
include external/pybind11/tests/test_class.cpp
include external/pybind11/tests/test_class.py
include external/pybind11/tests/test_class_release_gil_before_calling_cpp_dtor.cpp
include external/pybind11/tests/test_class_release_gil_before_calling_cpp_dtor.py
include external/pybind11/tests/test_class_sh_basic.cpp
include external/pybind11/tests/test_class_sh_basic.py
include external/pybind11/tests/test_class_sh_disowning.cpp
include external/pybind11/tests/test_class_sh_disowning.py
include external/pybind11/tests/test_class_sh_disowning_mi.cpp
include external/pybind11/tests/test_class_sh_disowning_mi.py
include external/pybind11/tests/test_class_sh_factory_constructors.cpp
include external/pybind11/tests/test_class_sh_factory_constructors.py
include external/pybind11/tests/test_class_sh_inheritance.cpp
include external/pybind11/tests/test_class_sh_inheritance.py
include external/pybind11/tests/test_class_sh_mi_thunks.cpp
include external/pybind11/tests/test_class_sh_mi_thunks.py
include external/pybind11/tests/test_class_sh_property.cpp
include external/pybind11/tests/test_class_sh_property.py
include external/pybind11/tests/test_class_sh_property_non_owning.cpp
include external/pybind11/tests/test_class_sh_property_non_owning.py
include external/pybind11/tests/test_class_sh_shared_ptr_copy_move.cpp
include external/pybind11/tests/test_class_sh_shared_ptr_copy_move.py
include external/pybind11/tests/test_class_sh_trampoline_basic.cpp
include external/pybind11/tests/test_class_sh_trampoline_basic.py
include external/pybind11/tests/test_class_sh_trampoline_self_life_support.cpp
include external/pybind11/tests/test_class_sh_trampoline_self_life_support.py
include external/pybind11/tests/test_class_sh_trampoline_shared_from_this.cpp
include external/pybind11/tests/test_class_sh_trampoline_shared_from_this.py
include external/pybind11/tests/test_class_sh_trampoline_shared_ptr_cpp_arg.cpp
include external/pybind11/tests/test_class_sh_trampoline_shared_ptr_cpp_arg.py
include external/pybind11/tests/test_class_sh_trampoline_unique_ptr.cpp
include external/pybind11/tests/test_class_sh_trampoline_unique_ptr.py
include external/pybind11/tests/test_class_sh_unique_ptr_custom_deleter.cpp
include external/pybind11/tests/test_class_sh_unique_ptr_custom_deleter.py
include external/pybind11/tests/test_class_sh_unique_ptr_member.cpp
include external/pybind11/tests/test_class_sh_unique_ptr_member.py
include external/pybind11/tests/test_class_sh_virtual_py_cpp_mix.cpp
include external/pybind11/tests/test_class_sh_virtual_py_cpp_mix.py
include external/pybind11/tests/test_cmake_build/CMakeLists.txt
include external/pybind11/tests/test_cmake_build/embed.cpp
include external/pybind11/tests/test_cmake_build/installed_embed/CMakeLists.txt
include external/pybind11/tests/test_cmake_build/installed_function/CMakeLists.txt
include external/pybind11/tests/test_cmake_build/installed_target/CMakeLists.txt
include external/pybind11/tests/test_cmake_build/main.cpp
include external/pybind11/tests/test_cmake_build/subdirectory_embed/CMakeLists.txt
include external/pybind11/tests/test_cmake_build/subdirectory_function/CMakeLists.txt
include external/pybind11/tests/test_cmake_build/subdirectory_target/CMakeLists.txt
include external/pybind11/tests/test_cmake_build/test.py
include external/pybind11/tests/test_const_name.cpp
include external/pybind11/tests/test_const_name.py
include external/pybind11/tests/test_constants_and_functions.cpp
include external/pybind11/tests/test_constants_and_functions.py
include external/pybind11/tests/test_copy_move.cpp
include external/pybind11/tests/test_copy_move.py
include external/pybind11/tests/test_cpp_conduit.cpp
include external/pybind11/tests/test_cpp_conduit.py
include external/pybind11/tests/test_cpp_conduit_traveler_bindings.h
include external/pybind11/tests/test_cpp_conduit_traveler_types.h
include external/pybind11/tests/test_cross_module_rtti/CMakeLists.txt
include external/pybind11/tests/test_cross_module_rtti/bindings.cpp
include external/pybind11/tests/test_cross_module_rtti/catch.cpp
include external/pybind11/tests/test_cross_module_rtti/lib.cpp
include external/pybind11/tests/test_cross_module_rtti/lib.h
include external/pybind11/tests/test_cross_module_rtti/test_cross_module_rtti.cpp
include external/pybind11/tests/test_custom_type_casters.cpp
include external/pybind11/tests/test_custom_type_casters.py
include external/pybind11/tests/test_custom_type_setup.cpp
include external/pybind11/tests/test_custom_type_setup.py
include external/pybind11/tests/test_docs_advanced_cast_custom.cpp
include external/pybind11/tests/test_docs_advanced_cast_custom.py
include external/pybind11/tests/test_docstring_options.cpp
include external/pybind11/tests/test_docstring_options.py
include external/pybind11/tests/test_eigen_matrix.cpp
include external/pybind11/tests/test_eigen_matrix.py
include external/pybind11/tests/test_eigen_tensor.cpp
include external/pybind11/tests/test_eigen_tensor.inl
include external/pybind11/tests/test_eigen_tensor.py
include external/pybind11/tests/test_embed/CMakeLists.txt
include external/pybind11/tests/test_embed/catch.cpp
include external/pybind11/tests/test_embed/external_module.cpp
include external/pybind11/tests/test_embed/test_interpreter.cpp
include external/pybind11/tests/test_embed/test_interpreter.py
include external/pybind11/tests/test_embed/test_subinterpreter.cpp
include external/pybind11/tests/test_embed/test_trampoline.py
include external/pybind11/tests/test_enum.cpp
include external/pybind11/tests/test_enum.py
include external/pybind11/tests/test_eval.cpp
include external/pybind11/tests/test_eval.py
include external/pybind11/tests/test_eval_call.py
include external/pybind11/tests/test_exceptions.cpp
include external/pybind11/tests/test_exceptions.h
include external/pybind11/tests/test_exceptions.py
include external/pybind11/tests/test_factory_constructors.cpp
include external/pybind11/tests/test_factory_constructors.py
include external/pybind11/tests/test_gil_scoped.cpp
include external/pybind11/tests/test_gil_scoped.py
include external/pybind11/tests/test_iostream.cpp
include external/pybind11/tests/test_iostream.py
include external/pybind11/tests/test_kwargs_and_defaults.cpp
include external/pybind11/tests/test_kwargs_and_defaults.py
include external/pybind11/tests/test_local_bindings.cpp
include external/pybind11/tests/test_local_bindings.py
include external/pybind11/tests/test_methods_and_attributes.cpp
include external/pybind11/tests/test_methods_and_attributes.py
include external/pybind11/tests/test_modules.cpp
include external/pybind11/tests/test_modules.py
include external/pybind11/tests/test_multiple_inheritance.cpp
include external/pybind11/tests/test_multiple_inheritance.py
include external/pybind11/tests/test_multiple_interpreters.py
include external/pybind11/tests/test_native_enum.cpp
include external/pybind11/tests/test_native_enum.py
include external/pybind11/tests/test_numpy_array.cpp
include external/pybind11/tests/test_numpy_array.py
include external/pybind11/tests/test_numpy_dtypes.cpp
include external/pybind11/tests/test_numpy_dtypes.py
include external/pybind11/tests/test_numpy_scalars.cpp
include external/pybind11/tests/test_numpy_scalars.py
include external/pybind11/tests/test_numpy_vectorize.cpp
include external/pybind11/tests/test_numpy_vectorize.py
include external/pybind11/tests/test_opaque_types.cpp
include external/pybind11/tests/test_opaque_types.py
include external/pybind11/tests/test_operator_overloading.cpp
include external/pybind11/tests/test_operator_overloading.py
include external/pybind11/tests/test_pickling.cpp
include external/pybind11/tests/test_pickling.py
include external/pybind11/tests/test_potentially_slicing_weak_ptr.cpp
include external/pybind11/tests/test_potentially_slicing_weak_ptr.py
include external/pybind11/tests/test_python_multiple_inheritance.cpp
include external/pybind11/tests/test_python_multiple_inheritance.py
include external/pybind11/tests/test_pytypes.cpp
include external/pybind11/tests/test_pytypes.py
include external/pybind11/tests/test_scoped_critical_section.cpp
include external/pybind11/tests/test_scoped_critical_section.py
include external/pybind11/tests/test_sequences_and_iterators.cpp
include external/pybind11/tests/test_sequences_and_iterators.py
include external/pybind11/tests/test_smart_ptr.cpp
include external/pybind11/tests/test_smart_ptr.py
include external/pybind11/tests/test_stl.cpp
include external/pybind11/tests/test_stl.py
include external/pybind11/tests/test_stl_binders.cpp
include external/pybind11/tests/test_stl_binders.py
include external/pybind11/tests/test_tagbased_polymorphic.cpp
include external/pybind11/tests/test_tagbased_polymorphic.py
include external/pybind11/tests/test_thread.cpp
include external/pybind11/tests/test_thread.py
include external/pybind11/tests/test_type_caster_pyobject_ptr.cpp
include external/pybind11/tests/test_type_caster_pyobject_ptr.py
include external/pybind11/tests/test_type_caster_std_function_specializations.cpp
include external/pybind11/tests/test_type_caster_std_function_specializations.py
include external/pybind11/tests/test_union.cpp
include external/pybind11/tests/test_union.py
include external/pybind11/tests/test_unnamed_namespace_a.cpp
include external/pybind11/tests/test_unnamed_namespace_a.py
include external/pybind11/tests/test_unnamed_namespace_b.cpp
include external/pybind11/tests/test_unnamed_namespace_b.py
include external/pybind11/tests/test_vector_unique_ptr_member.cpp
include external/pybind11/tests/test_vector_unique_ptr_member.py
include external/pybind11/tests/test_virtual_functions.cpp
include external/pybind11/tests/test_virtual_functions.py
include external/pybind11/tests/test_warnings.cpp
include external/pybind11/tests/test_warnings.py
include external/pybind11/tests/valgrind-numpy-scipy.supp
include external/pybind11/tests/valgrind-python.supp
include external/pybind11/tools/FindCatch.cmake
include external/pybind11/tools/FindEigen3.cmake
include external/pybind11/tools/FindPythonLibsNew.cmake
include external/pybind11/tools/JoinPaths.cmake
include external/pybind11/tools/check-style.sh
include external/pybind11/tools/cmake_uninstall.cmake.in
include external/pybind11/tools/codespell_ignore_lines_from_errors.py
include external/pybind11/tools/libsize.py
include external/pybind11/tools/make_changelog.py
include external/pybind11/tools/make_global.py
include external/pybind11/tools/pybind11.pc.in
include external/pybind11/tools/pybind11Common.cmake
include external/pybind11/tools/pybind11Config.cmake.in
include external/pybind11/tools/pybind11GuessPythonExtSuffix.cmake
include external/pybind11/tools/pybind11NewTools.cmake
include external/pybind11/tools/pybind11Tools.cmake
include external/pybind11/tools/test-pybind11GuessPythonExtSuffix.cmake
include include/axiom/core.hpp
include include/axiom/utils.hpp
include pyproject.toml
include requirements.txt
include setup.cfg
include src/axiom/__init__.py
include src/axiom/bindings/__init__.py
include src/axiom/bindings/converters.cpp
include src/axiom/bindings/module.cpp
include src/axiom/core.py
include src/axiom/cpp/CMakeLists.txt
include src/axiom/cpp/core.cpp
include src/axiom/cpp/core.hpp
include src/axiom/cpp/utils.cpp
include src/axiom/cpp/cuda/gpu_kernels.cu
include src/axiom/cpp/cuda/gpu_kernels.cuh
include src/axiom/cpp/cuda/tensor_ops.cu
include src/axiom/utils.py
include src/axiom_cli/__init__.py
include src/axiom_cli/main.py
include tests/cpp/test_core.cpp
include tests/test_bindings.py
include tests/test_core.py
exclude MANIFEST.in